<a href="{{ path("admin.user.show") }}" class="navLink {{ is_active("admin.user.show") ? "active" }}">
    <li>
        <i class="bi bi-person-circle">
        </i>
        <span>Clients</span>
    </li>
</a>