<div class="card__sm">
    <h5 class="card__sm__title">Card title</h5>
    <p class="card__sm__text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
</div>