<li class="navItem {{ is_active("produit.carte") ? 'active' }}" style="--i: 2;">
    <a href="{{ path('produit.carte')}}" class="navHref">
        Carte
    </a>
</li>
<li class="navItem {{ is_active("produit.panier") ? 'active' }}" style="--i: 3;">
    <a href="{{ path('produit.panier') }}" class="navHref">
        Panier
    </a>
</li>