<li class="navItem {{ is_active("carte.index") ? 'active' }}" style="--i: 2;">
    <a href="{{ path('carte.index')}}" class="navHref">
        Carte
    </a>
</li>
<li class="navItem {{ is_active("panier.index") ? 'active' }}" style="--i: 3;">
    <a href="{{ path('panier.index') }}" class="navHref">
        Panier
    </a>
</li>