{% extends 'layout.html.twig' %}

{% block stylesheet %}
    <link rel="stylesheet" href="../assets/css/carte.css">
{% endblock %}

{% block body %}
    <div class="prod">
        {{ prod.nom }}
    </div>
{% endblock %}