<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="../assets/icon/favicon.ico" type="image/x-icon">
  <link rel="stylesheet" href="../assets/css/style.css">
  <link rel="stylesheet" href="../assets/css/navBar.css">
  <script src="https://code.iconify.design/iconify-icon/1.0.0/iconify-icon.min.js"></script>

  {% block stylesheet %}
  {% endblock %}
  <title>{% block title "Burger Compagny" %}</title>
</head>
<body>

  <header class="navContainer">
    <nav class="navBar">
      <button class="toggleButton" role="button" onclick="toggleNav()">
        <svg xmlns="http://www.w3.org/2000/svg" width="35" height="25" fill="currentColor" class="bi bi-list" viewBox="0 0 35 16">
          <path fill-rule="evenodd" d="M20 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z"/>
        </svg>
      </button>
      <div class="brand">
        Burger compagny
      </div>
      <ul class="linkList">
        <li class="navItem" style="--i: 0;">
          <a href="../controller/deconnexionController.php" class="navHref">
            Déconnnexion
          </a>
        </li>
          <li class="navItem"  style="--i: 0;">
            <a href={{ path('user.connexion') }} class="navHref">
              Connexion
            </a>
          </li>
          <li class="navItem"  style="--i: 1;">
            <a href={{ path('user.inscription') }} class="navHref">
              Inscription
            </a>
          </li>
        <li class="navItem" style="--i: 2;">
          <a href={{ path('produit.carte')}} class="navHref">
            Carte
          </a>
        </li>
        <li class="navItem" style="--i: 3;">
          <a href={{ path('produit.panier') }} class="navHref">
            Panier
          </a>
        </li>
      </ul>
    </nav>
  </header>
    <div class="container">
        {% block body %}

        {% endblock %}
    </div>

    <script src="../assets/js/onscrollFunction.js"></script>
    <script src="../assets/js/toggleNavBar.js"></script>
</body>
</html>