.connexionContainer{
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 25px;
    border: none;
    padding: 0;
}

.connexionContainer .formContainer{
    padding: 1rem 2rem;
    background: var(--text-color-light);
    border-radius: 15px;
}

.connexionContainer .formTitle{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: space-evenly;
    overflow: hidden;
    text-transform: uppercase;
    border: none;
}

.connexionContainer .formTitle .top{
    background: inherit;
    font-family: var(--font-primary);
    text-shadow: var(--text-shadow);
}

.connexionContainer .formTitle .bottom{
    background: inherit;
    font-family: var(--font-secondary);
    color: var(--text-color-light);
    text-shadow: var(--text-shadow);
}

.connexionContainer .formTitle .bottom .left{
    background: inherit;
}

.connexionContainer .formTitle .bottom .right{
    background: inherit;
    color: var(--color-highlights);
}

.connexionContainer .formContainer .loginForm{
    background: inherit;
}

.connexionContainer .formContainer .loginForm .inputGroup{
    background-color: transparent;
    border: none;
}

.connexionContainer .formContainer .loginForm .inputGroup .signInput{
    border: none;
    outline: none;
}

.connexionContainer .formContainer .loginForm .inputGroup label span{
    border: none;
    font-family: var(--font-primary);
}


.connexionContainer .formContainer .loginForm .inputGroup label{
    border: none;
}

.connexionContainer .formContainer .loginForm .loginButton{
    width: 100%;
    border-radius: 15px;
    background-color: var(--text-color-light);
    padding: 10px 15px;
    border: 2px solid var(--color-highlights);
    color: var(--color-highlights);
    transition: var(--transition);
}

.connexionContainer .formContainer .loginForm .loginButton:hover{
    background-color: var(--color-highlights);
    color: var(--text-color-light);
}