
.main > .container .modalContainer.hiddenModal{
    display: none;
}

.main > .container .modalContainer{
    position: fixed;
    background: transparent;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(5px);
    z-index: 100;
}

.main > .container .modalUpdateType{
    position: relative;
    width: 30%;
    border-radius: 15px;
    background: var(--color-highlights);
    box-shadow: 2px 2px 5px rgba(0,0,0,0.4);
    overflow: hidden;
    
}
.main > .container .modalUpdateType .modalHead, 
.main > .container .modalUpdateType .modalBody form, 
.main > .container .modalUpdateType .modalHead .modalTitle{
    background: var(--color-highlights);
}

.main > .container .modalUpdateType .modalHead{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
    font-size: 1rem;
    padding-left: 70px;
    padding-top: 25px;
    padding-right: 25px;
}

.main > .container .modalUpdateType .modalHead .closeModalButton {
    width: 25px;
    aspect-ratio: 1/1;
    border: none;
    border-radius: 100px;
}
.main > .container .modalUpdateType .modalHead .modalTitle {
    color: var(--color-light);
    font-size: 1.7rem;
    letter-spacing: 1px;
}

.main > .container .modalUpdateType .modalBody{
    padding: 35px 70px;
    background-color: var(--color-highlights);
}

.main > .container .modalUpdateType .modalBody .dispoLabel{
    width: 45px;
    aspect-ratio: 1/1;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    background: transparent;
    margin-left: auto;
    margin-right: auto;
    margin-top: 25px;
    margin-bottom: 15px;
}

.main > .container .modalUpdateType .modalBody .dispoLabel #ingredientDispoUpdate{
    opacity: 0;
    width: 0;
    height: 0;
}

.main > .container .modalUpdateType .modalBody .dispoLabel .circleOnOff{
    width: 35px;
    height: 35px;
    border-radius: 50px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    border: 2px solid white;
    background: transparent;
    box-shadow: 0 0 7px 5px var(--color-red), 0 0 7px 5px var(--color-red) inset;
}

.main > .container .modalUpdateType .modalBody .dispoLabel .circleOnOff:before{
    position: absolute;
    content: "";
    height: 15px;
    border: 3px solid var(--color-red);
    background: white;
    top: -10px;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 20px;
    box-shadow: 0 0 10px 8px var(--color-red), 0 0 1px 2px var(--color-red);
}

.main > .container .modalUpdateType .modalBody .dispoLabel input#ingredientDispoUpdate:checked + .circleOnOff{
    box-shadow: 0 0 7px 5px var(--color-green), 0 0 7px 5px var(--color-green) inset;
}

.main > .container .modalUpdateType .modalBody .dispoLabel input#ingredientDispoUpdate:checked + .circleOnOff:before{
    box-shadow: 0 0 10px 8px var(--color-green), 0 0 1px 2px var(--color-green);
    border: 3px solid var(--color-green);
}




/** ------ MEDIA QUERIES ------ **/

/** ------ SM SIZE ------- **/

@media screen AND (max-width: 500px) {
    
    .main > .container .modalUpdateType{
        width: 100%;
    }
}