.produitContainer{
    width:100%;
    height: 100%;
    padding-left: 50px;
}

.produitContainer > .pageTitle{
    text-align: left;
    text-transform: uppercase;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    overflow: hidden;
}

.produitContainer > .pageTitle .bottom,
.produitContainer > .pageTitle .top{
    font-family: var(--font-secondary);
    transition: var(--transition);
}

.produitContainer > .pageTitle .bottom{
    color: var(--bg-color);
    font-family: var(--font-primary);
    text-shadow: var(--text-shadow);
}

.produitContainer > .produitCardDeck{
    min-height: 400px;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    gap: 25px;
}

.main > .container .card, 
.main > .container .card .formTitle, 
.main > .container .card form{
    background: var(--color-highlights);
}

.produitContainer > .produitCardDeck > .card{
    min-width: 250px;
    aspect-ratio: 1/1;
    padding: 15px 20px;
    border-radius: 15px;
    justify-content: flex-start;
}

.main > .container > .produitContainer .produitCardDeck .card > *{
    background-color: transparent;
}

.main > .container > .produitContainer .produitCardDeck .card .formTitle{
    margin-top: 0;
    text-shadow: var(--text-shadow);
}

.main > .container .categorieTableStyle{
    width: 100%;
    background-color: var(--color-highlights);
    padding: 25px 20px;
    border-radius: 15px;
    overflow: hidden;
    color: var(--text-color-light);
    border-collapse: collapse;
}

.main > .container .table table.categorieTableStyle .title{
    text-align: center;
    width: 100%;
    padding: 25px 15px;
}

.main > .container .categorieTableStyle .colonneTitleContainer .colonneTitleItem,
.main > .container .categorieTableStyle .categorieTypeItem .categorieTypePart{
    background-color: var(--color-highlights);
    text-align: center;
    padding: 5px 8px;
}

.main > .container .categorieTableStyle .categorieTypeItem .categorieTypePart{
    font-weight: 100;
}

.main > .container .categorieTableStyle .colonneTitleContainer .colonneTitleItem{
    border-bottom: 1px solid var(--text-color-light);
}

.main > .container .categorieTableStyle .categorieTypeItem .buttonGroup{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.main > .container .categorieTableStyle .categorieTypeItem .categorieTypePart .actionButton{
    padding: 4px 6px;
    border-radius: 5px;
    border: none;
    letter-spacing: 1px;
    font-size: 1rem;
    cursor: pointer;
    transition: all 1s ease-in-out;
}
.main > .container .categorieTableStyle .categorieTypeItem .categorieTypePart .deleteButton{
    background: linear-gradient(90deg, transparent, var(--text-red));
    background-position: left;
    background-size: 10000px;
    color: var(--text-color-light);
}
.main > .container .categorieTableStyle .categorieTypeItem .categorieTypePart .deleteButton:hover{
    background-position: 400px;
    transform: scale(1.1);
}

.main > .container .categorieTableStyle .categorieTypeItem .categorieTypePart .updateButton:hover{
    transform: scale(1.1);
}


/* -------- Formulaire Ajout produit --------- */


.main > .container .produitContainer .produitCardDeck .card .produitFormContainer{
    width: 100%;
    max-width: 300px;
    overflow: hidden;
    height: 300px;
    position: relative;
}

.main > .container .produitContainer .produitCardDeck .card .produitFormContainer .produitFormPart1, 
.main > .container .produitContainer .produitCardDeck .card .produitFormContainer .produitFormPart2{
    background: inherit;
    position: absolute;
    width: inherit;
    max-width: 300px;
    height: 300px;
    z-index: 1000;
    top: 0;
    transition: var(--transition);
}

.main > .container .produitContainer .produitCardDeck .card .produitFormContainer .produitFormPart1{
    left: 0%;
}

.main > .container .produitContainer .produitCardDeck .card .produitFormContainer .produitFormPart1 .addButton:hover{
    color: var(--color-highlights);
    background: var(--text-color-light);
    box-shadow: var(--text-shadow);
    transform: translate(-2px, -2px);
}

.main > .container .produitContainer .produitCardDeck .card .produitFormContainer .produitFormPart2{
    left: 100%;
    overflow-y: auto;
    height: 100%;
}


.main > .container .produitContainer .produitCardDeck .card .produitFormContainer .produitFormPart2 .backButton{
    align-items: center;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    background: transparent;
    border: none;
    border-radius: 15px;
    color: var(--bg-color);
    display: flex;
    justify-content: space-between;
    left: 0;
    margin-left: 5px;
    margin-bottom: 5px;
    padding: 4px 8px;
    position: sticky;
    top: 0;
    transition: var(--transition);
}

.main > .container .produitContainer .produitCardDeck .card .produitFormContainer .produitFormPart2 .addButton{
    padding: 8px 15px;
    position: sticky;
    bottom: 0;
    left: 100%;
    background: transparent; 
    backdrop-filter: blur(10px);
    transition: var(--transition);
}

.main > .container .produitContainer .produitCardDeck .card .produitFormContainer .produitFormPart2::-webkit-scrollbar{
    margin-left: 5px;
    width: 4px;
    background-color: var(--color-highlights);
    border: none;
    border-left: 1px solid var(--text-color-light);

}

.main > .container .produitContainer .produitCardDeck .card .produitFormContainer .produitFormPart2::-webkit-scrollbar-thumb{
    width: 2px;
    background: var(--bg-color);
}

.main > .container .produitContainer .produitCardDeck .card .produitFormContainer .produitFormPart2 .addButton:hover{
    background: var(--bg-color);
}

.main > .container .produitContainer .produitCardDeck .card .produitFormContainer .produitFormPart2 .backButton:hover{
    color: var(--text-color-light);
}

.main > .container .produitContainer .produitCardDeck .card .produitFormContainer .produitFormPart2 .backButton *{
    background: transparent;
}

.main > .container .produitContainer .produitCardDeck .card .produitFormContainer .produitFormPart2 .ingredientGroup{
    width: 100%;
    height: fit-content;
    background: transparent;
    border: none;
}

.main > .container .produitContainer .produitCardDeck .card .produitFormContainer .produitFormPart2 .ingredientGroup .typeIngredientGroupItem{
    border-bottom: 1px solid var(--text-color-light);
    background: transparent;
    padding: 10px;
    border-left: 1px solid var(--text-color-light);
}

.main > .container .produitContainer .produitCardDeck .card .produitFormContainer .produitFormPart2 .ingredientGroup .typeIngredientGroupItem .groupLabel{
    text-shadow: var(--text-shadow);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main > .container .produitContainer .produitCardDeck .card .produitFormContainer .produitFormPart2 .ingredientGroup .typeIngredientGroupItem .groupItem{
    text-shadow: var(--text-shadow);
    height: 0px;
    overflow-y: hidden;
    width: 100%;
    transition: var(--transition);
    display: flex;
    justify-content: flex-start;
    gap: 10px;
    align-items: center;
}

.main > .container .produitContainer .produitCardDeck .card .produitFormContainer .produitFormPart2 .ingredientGroup .typeIngredientGroupItem:last-child{
    margin-bottom: 20px;
}

.main > .container .produitContainer .produitCardDeck .card .produitFormContainer .produitFormPart2 .ingredientGroup .typeIngredientGroupItem *{
    background: transparent;
    color: var(--bg-color);
    transition: var(--transition);
}

.main > .container .produitContainer .produitCardDeck .card .produitFormContainer .produitFormPart2 .ingredientGroup .typeIngredientGroupItem:hover .groupLabel * {
    color: var(--text-color-light);
}

.main > .container .produitContainer .produitCardDeck .card .produitFormContainer .produitFormPart2 .ingredientGroup .typeIngredientGroupItem.expand .groupItem{
    height: unset;
}





/* ---------END Formulaire ajout produit ------------ */