.produitContainer{
    width:100%;
    height: 100%;
    padding-left: 50px;
}

.produitContainer > .produitTitle{
    text-align: center;
    text-transform: uppercase;
}

.produitContainer > .produitCardDeck{
    min-height: 400px;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    gap: 25px;
}

.main > .container .card, 
.main > .container .card .formTitle, 
.main > .container .card form{
    background: var(--color-highlights);
}

.produitContainer > .produitCardDeck > .card{
    min-width: 250px;
    aspect-ratio: 1/1;
    padding: 15px 20px;
    border-radius: 15px;
    justify-content: flex-start;
}

.main > .container > .produitContainer .produitCardDeck .card > *{
    background-color: transparent;
}

.main > .container > .produitContainer .produitCardDeck .card .formTitle{
    margin-top: 0;
}

.main > .container .categorieTableStyle{
    width: 100%;
    background-color: var(--color-highlights);
    padding: 25px 20px;
    border-radius: 15px;
    overflow: hidden;
    color: var(--text-color-light);
    border-collapse: collapse;
}

.main > .container .table table.categorieTableStyle .title{
    text-align: center;
    width: 100%;
    padding: 25px 15px;
}

.main > .container .categorieTableStyle .colonneTitleContainer .colonneTitleItem,
.main > .container .categorieTableStyle .categorieTypeItem .categorieTypePart{
    background-color: var(--color-highlights);
    text-align: center;
    padding: 5px 8px;
}

.main > .container .categorieTableStyle .categorieTypeItem .categorieTypePart{
    font-weight: 100;
}

.main > .container .categorieTableStyle .colonneTitleContainer .colonneTitleItem{
    border-bottom: 1px solid var(--text-color-light);
}

.main > .container .categorieTableStyle .categorieTypeItem .buttonGroup{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.main > .container .categorieTableStyle .categorieTypeItem .categorieTypePart .actionButton{
    padding: 4px 6px;
    border-radius: 5px;
    border: none;
    letter-spacing: 1px;
    font-size: 1rem;
    cursor: pointer;
    transition: all 1s ease-in-out;
}
.main > .container .categorieTableStyle .categorieTypeItem .categorieTypePart .deleteButton{
    background: linear-gradient(90deg, transparent, var(--text-red));
    background-position: left;
    background-size: 10000px;
    color: var(--text-color-light);
}
.main > .container .categorieTableStyle .categorieTypeItem .categorieTypePart .deleteButton:hover{
    background-position: 400px;
    transform: scale(1.1);
}

.main > .container .categorieTableStyle .categorieTypeItem .categorieTypePart .updateButton:hover{
    transform: scale(1.1);
}