@import url('https://fonts.googleapis.com/css2?family=Aboreto&display=swap');

:root{
  --bg-color: #FF921C;
  --text-color-light: whitesmoke;
  --color-highlights: #FFBB72;
  --text-red: #ff431c;
  --text-red-rgb: 255, 67, 28;
  --text-green: #0bd40b;
  --text-green-rgb: 11, 212, 11;

  --transition: all 500ms ease-in-out;
}


/*  Global Style (appliqué partout)   */
* {
  padding: 0;
  margin: 0;
  background-color: var(--bg-color);
  box-sizing: border-box;
  user-select: none;
  font-family: Impact, 'Haettenschweiler', 'Arial Narrow Bold', sans-serif;
  font-weight: 250;
  list-style: none;
}

html{
  background-color: var(--text-color-light);
}

body {
  margin-inline: auto;
}

/**------ Main Style ------**/

.main{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/**---- NavBar Style ----**/
.main > .navBar {
  position: relative;
  width: 200px;
  height: 100%;
  padding: 0;
  overflow: hidden;
  transition: var(--transition);
}

.main > .navBar .brand{
  text-align: center;
  height: 30px;
  color: var(--text-color-light);
  padding: 10px;
  transition: var(--transition);
}

.main > .navBar.active, .main > .navBar > .navLinks.active{
  width: 80px;
}

.main > .navBar > .navLinks.active .brand{
  opacity: 0;
  height: 30px;
}

.main > .navBar > .navLinks.active .navLink li span {
  display: none;
}

.main > .navBar > .navLinks .navLink li i{
  font-size: 2rem;
}

.main > .navBar > .navLinks .navLink.active li *{
  background: transparent;
}

.main > .navBar > .navLinks.active .navLink.active li *{
  background: transparent;
}

/** ----- TOGGLE BUTTON ----- **/

.main > .navBar > .navLinks .toggleButton {
  width: 40px;
  height: 20px;
  position: absolute;
  cursor: pointer;
  top: 10px;
  right: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  align-items: center;
  z-index: 20;
}

.main > .navBar > .navLinks .toggleButton .top{
  width: 100%;
  height: 5px;
  transition: var(--transition);
  position: absolute;
  transform-origin: center;
  top: 50%;
  left: 50%;
  background: var(--text-color-light);
  transform: translate(-50%, -50%) rotate(585deg); 
}

.main > .navBar > .navLinks .toggleButton .bottom{
  width: 100%;
  height: 5px;
  transition: var(--transition);
  position: absolute;
  top: 50%;
  left: 50%;
  background: var(--text-color-light);
  transform: translate(-50%, -50%) rotate(-585deg);
}

.main > .navBar > .navLinks .toggleButton.active .top, .main > .navBar > .navLinks .toggleButton.active .bottom{
  position: unset;
  transform: unset;
}

/** ------ END ToggleButton ------- **/

/**   Style element de la navBar lorsque activé    **/
.main > .navBar > .navLinks .navLink li i img {
  max-height: 40px;
}

.main > .navBar > .navLinks {
  position: fixed;
  transition: var(--transition);
  top: 0;
  left: 0;
  height: 100%;
  width: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-end;
  padding: 1rem 0;
  overflow: hidden;
  z-index: 10;
}

.main > .navBar > .navLinks  .navLink {
  width: 100%;
  padding: 1rem 2rem;
  text-align: right;
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  align-items: center;
  color: var(--text-color-light);
  transition: var(--transition);
  text-decoration: none;
}

.main > .navBar > .navLinks  .navLink li {
  width: 80%;
  display: flex;
  justify-content: space-between;
  gap: 10px;
  align-items: center;
}

.main > .navBar > .navLinks  .navLink.deconnect{
  color: var(--text-red);
  font-weight: 800;
}

.main > .navBar > .navLinks  .navLink > li {
  background: transparent;
}

.main > .navBar > .navLinks  .navLink:hover{
  transform: translate(-10px, -8px);
  text-shadow: 10px 8px 4px rgba(59, 59, 59, 0.8);
}

.main > .navBar > .navLinks  .navLink.active{
  background: var(--text-color-light);
  color: var(--color-highlights);
  position: relative;
}
.main > .navBar > .navLinks  .navLink.active:hover{
  transform: unset;
  text-shadow: none;
}

.main > .navBar > .navLinks  .navLink.active:after{
  position: absolute;
  content: '';
  width: 50px;
  aspect-ratio: 1/1;
  background-color: transparent;
  top: -50px;
  right: 0;
  border-bottom-right-radius: 50%;
  box-shadow: 8px 7px 1px var(--text-color-light);
  z-index: 0;
}

.main > .navBar > .navLinks  .navLink.active:before{
  position: absolute;
  content: '';
  width: 50px;
  aspect-ratio: 1/1;
  background-color: transparent;
  bottom: -50px;
  right: 0;
  border-top-right-radius: 50%;
  box-shadow: 8px -7px 1px var(--text-color-light);
  z-index: 0;
}

/**  END Style element de la navBar lorsque activé    **/

.main > .container{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 25px 10px;
  width: 100%;
  height: 100vh;
  background: var(--text-color-light);
}

.main > .container *{
  background: var(--text-color-light);
}



/**-----END NavBar Style------**/


/**-----END Main Style-----**/

