<a href="{{ path("admin.stats.show") }}" class="navLink {{ is_active("admin.stats.show") ? "active" }}">
    <li>
        <i class="bi bi-graph-up"></i>
        <span>
                Statistiques
            </span>
    </li>
</a>