/**  Toast style for connexion admin  **/
.error, .success{
    align-items: flex-start;
    background: var(--color-light);
    font-family: var(--font-primary) !important;
    border: none;
    border-radius: 2px;
    box-shadow: 0 0 10px 1px rgba(var(--color-black-rgb), 0.8);
    position: fixed;
    top: 25px;
    right: 15px;
    min-width: 100px;
    opacity: 1;
    overflow: hidden;
    transition: var(--transition);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    z-index: 5;
}


.error .progressBar,
.success .progressBar{
    width: 0;
    animation: progress 5s forwards linear;
    height: 5px;
}

@keyframes progress{
    to {
        width: 100%;
    }
}

.error .progressBar{
    background: var(--color-red);
}

.success .progressBar{
    background: var(--color-green);
}

.error .message, .success .message{
    padding: 15px 10px;
    text-align: center;
    background: var(--color-light);
}

.error .message{
    color: var(--color-red);
}

.success .message{
    color: var(--color-green);
}

.hidden{
    opacity: 0;
}


/** END Toast style  **/