.main > .container .container__dahsboard {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.main > .container .container__dahsboard .leftPart {
    flex: 6;
}

.main > .container .container__dahsboard .rightPart {
    flex: 2;
}

.main > .container .container__dahsboard .pageTitle {
    text-align: left;
    text-transform: uppercase;
    display: flex;
    flex-direction: row;
    gap: 40px;;
    align-items: center;
    justify-content: flex-start;
    overflow: hidden;
}

.main > .container .container__dahsboard .pageTitle .bottom {
    color: var(--color-primary);
    font-family: var(--font-primary);
    text-shadow: var(--shadow-1);
    transition: var(--transition);
}

.main > .container .container__dahsboard .pageTitle .message .hello {
    font-family: var(--font-primary);
    color: var(--color-primary);
    text-shadow: var(--shadow-1);
}


.main > .container .container__dahsboard .pageTitle .message {
    opacity: 0;
    transition: var(--transition);
}


.main > .container .container__dahsboard .pageTitle .message .name {
    margin-left: 10px;
    font-family: var(--font-primary);
}

.isotope-grid {
    min-width: 200px;
    margin: 10px;
}

.isotope-item {
    margin: 5px;
}

.card__md {
    aspect-ratio: 4/2;
    width: 420px;
    background-color: #fff;
    border:1px solid #fff;
    border-radius: 30px;
    box-shadow: 5px 0 25px rgba(var(--color-dark-rgb), 0.2);
    display: flex;
    overflow: hidden;
    padding: 10px 20px;
    justify-content: center;
    align-items: center;
}

.card__md__height {
    aspect-ratio: 2/3;
    width: 420px;
    background-color: #fff;
    border:1px solid #fff;
    border-radius: 30px;
    box-shadow: 5px 0 25px rgba(var(--color-dark-rgb), 0.2);
    display: flex;
    overflow: hidden;
    padding: 10px 20px;
    justify-content: center;
    align-items: center;
}

.card__lg {
    aspect-ratio: 16/9;
    width: 860px;
    background-color: #fff;
    border:1px solid #fff;
    border-radius: 30px;
    box-shadow: 5px 0 25px rgba(var(--color-dark-rgb), 0.2);
    display: flex;
    overflow: hidden;
    padding: 10px 20px;
    justify-content: center;
    align-items: center;
}

.main > .container .container__dahsboard .card__sm {
    aspect-ratio: 16/9;
    padding: 15px 10px;
    width: 200px;
    background-color: #fff;
    border:1px solid #fff;
    border-radius: 30px;
    box-shadow: 5px 0 25px rgba(var(--color-dark-rgb), 0.2);
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.main > .container .container__dahsboard .card__sm * {
    margin: 0;
    padding: 0;
    background-color: transparent;
}

.main > .container .container__dahsboard .card__md__height .offreForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
    width: 90%;
}

.main > .container .container__dahsboard .card__md__height .offreForm .part {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.main > .container .container__dahsboard .card__md__height .offreForm .formTitle {
    margin: unset;
    padding: unset;
    padding-top: 20px;
    color: var(--color-primary);
    font-family: var(--font-primary);
}



.main > .container .container__dahsboard .card__md__height .offreForm .part {
    display: flex;
    flex-direction: column;
}

.main > .container .container__dahsboard .card__md__height .offreForm .inputGroup{
    width: 90%;
}


.inputGroup > label > span {
    font-size: 0.7rem;
    transform: translateY(5px);
}


label:focus-within > span, input:not(:placeholder-shown) + span {
    color: var(--color-highlights);
    border-radius: 5px 5px 0 0;
    transform: translateY(-17px);
    border-right: 2px solid var(--color-highlights);
    border-left: 2px solid var(--color-highlights);
    border-top: 2px solid var(--color-highlights);
    font-weight: 500;
    background: white;
  }
  


.main > .container .container__dahsboard .row .card__md__height .offreForm .inputGroup input {
    height: 15px;
}

/** Liste offre **/

.main> .container .offreListTable {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    border-collapse: collapse;
}

.main> .container .offreListTable tbody {
    width: 100%;
}

.main> .container .offreListTable .tableRow .part{
    width: -webkit-fill-available;
}

.tableTitle {
    color: var(--color-primary);
    font-family: var(--font-primary);
}

.main> .container .offreListTable .head.tableRow .part {
    padding: 10px 25px 10px 0;
    width: 17%;
    text-align: left;
    font-family: var(--font-primary);
    color: var(--color-primary);
    border-bottom: 1px solid var(--color-primary);
}

.main> .container .offreListTable .head.tableRow .part:nth-child(1),
.main> .container .offreListTable .offreItem.tableRow .offrePart:nth-child(1)
{
    width: 240px;
    max-width: 240px;
    color: var(--color-primary);
    font-size: .9rem;;
}

.main> .container .offreListTable .offreItem.tableRow .offrePart:nth-child(1) {
    font-family: var(--font-secondary);
}

.main> .container .offreListTable .offreItem.tableRow .offrePart {
    border-bottom: 1px solid var(--color-primary);
    padding: 5px 3px;
    text-align: center;
    word-break: keep-all;
}

.main> .container .offreListTable .offreItem.tableRow .offrePart:last-child {
    border-right: unset;
}

.main> .container .offreListTable .offreItem.tableRow .offrePart .waiting {
    color: var(--color-light);
    font-family: var(--font-primary);
    font-size: 0.7rem;
    background: rgb(195, 195, 52);
    border-radius: 10px;
    padding: 10px 15px;
    width: 200px;
}

.main> .container .offreListTable .offreItem.tableRow .offrePart .enableOffer {
    color: var(--color-light);
    font-family: var(--font-primary);
    font-size: 0.7rem;
    background: var(--color-green);
    border-radius: 10px;
    padding: 10px 15px;
    width: 200px;
}

.main> .container .offreListTable .offreItem.tableRow .offrePart .ended {
    color: var(--color-light);
    font-family: var(--font-primary);
    font-size: 0.7rem;
    background: var(--color-red);
    border-radius: 10px;
    padding: 10px 15px;
    width: 200px;
}

/** Style pagination offre **/

.main> .container .pagination.offrePagination {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin: 20px 0;
}

.main> .container .pagination.offrePagination .pagination__title {
    color: var(--color-primary);
    font-family: var(--font-primary);
}

.main> .container .pagination.offrePagination .pagination__link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    border-radius: 5px;
    background: transparent;
    color: var(--color-black);
    font-family: var(--font-secondary);
    font-size: 0.7rem;
    cursor: pointer;
    text-decoration: none;
}

.main> .container .pagination.offrePagination .pagination__link.active {
    background: var(--color-primary);
    color: var(--color-light);
}

.main> .container .pagination.offrePagination .pagination__link span {
    background: transparent;
}

.main > .container .btn {
    text-decoration: none;
    padding: 4px 6px;
    border-radius: 5px;
    border: none;
    font-size: 0.8rem;
    cursor: pointer;
    transition: background-position 1s,  color .5s ease-in-out;
    background-color: transparent;
}

.main > .container .deleteButton{
    background: linear-gradient(90deg, transparent, var(--color-red)) left;
    background-size: 10000px;
    color: var(--color-red-shade);
}

.main > .container .deleteButton:hover{
    background-position: 400px;
    transform: scale(1.1);
    color: var(--color-light);
}

.main > .container .ingredientTableStyle .updateButton:hover{
    transform: scale(1.1);
    color: var(--color-light);
}

.actionButton{
    padding: 4px 6px;
    border-radius: 5px;
    border: none;
    letter-spacing: 1px;
    font-size: 1rem;
    cursor: pointer;
    transition: all 1s ease-in-out;
    color: var(--color-blue);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

::-webkit-scrollbar {
    width: 4px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}

::-webkit-scrollbar-track {
    background: rgba(0,0,0,0.1);
    box-shadow: -2px 2px 6px rgba(0,0,0,1);
}

::-webkit-scrollbar-thumb {
    background: darkgrey;
}

.updateOffreForm {
    padding: 35px 50px;
    box-shadow: 4px 4px 10px rgba(0,0,0,0.5);
    border-radius: 30px;
}

.modalHead {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 10px;
    font-size: 1.2rem;
}


.main > .container .inputGroup {
    border: 1px solid var(--color-primary);
    border-radius: 5px;
}

.main > .container .closeModalButton {
    font-size: 1rem;
    border-radius: 40px;
    width: 25px;
    aspect-ratio: 1/1;
    background: var(--color-red);
    color: var(--color-light);
    border: none;
}

.main > .container .addButton {
    background: var(--color-green);
}

.main > .container .subButton {
    background: var(--color-primary);
    padding: 5px 25px;
    border-radius: 25px;
    border: none;
}

/*  right Part  */

.rightPart {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
}

.rightPart > .container {
    width: 95%;
    height: 95vh;
    background-color: #fff;
    box-shadow: 0 5px 20px rgba(var(--color-dark-rgb), 0.2);
    border-radius: 40px;
}

/* End Right Part  */

.row .col-row {
    display: flex;
    padding: 15px 0;

}

.col, .col-12{
    flex: 12;
}

.col-2{
    flex: 2;
}

.col-3 {
    flex: 3;
}

.col-4 {
    flex: 4;
}

.col-5 {
    flex: 5;
}

.col-7 {
    flex: 7;
}

.col-8{
    flex: 8;
}

.col-9 {
    flex: 9;
}

.col-10 {
    flex: 10;
}

.cardTaxe{
    display: flex;
    width: 100%;
    aspect-ratio: 2/1;
    justify-content: center;
    align-items: center;
    padding: 10px 15px;
    background: transparent;
}


.cardTaxe > a{
    color: var(--color-black);
    border: 1px solid var(--color-primary);
    border-radius: 10px;
    padding: 10px 15px;
    font-size: 1rem;
    cursor: pointer;
    transition: all 1s ease-in-out;
    border: solid 1px var(--color-primary);
    text-decoration: none;
    font-size: 1.5rem;
}

.cardTaxe >  a:hover {
    background: var(--color-primary) !important;
    color: var(--color-light);
}


/*@media screen and (max-width: 1024px) {*/
/*    .main > .container .container__dahsboard .row.card__sm__wrapper {*/
/*        display: grid;*/
/*        grid-template-columns: repeat(2, 1fr);*/
/*        grid-template-rows: repeat(2, 1fr);*/
/*        justify-items: center;*/
/*    }*/

/*    .main > .container .container__dahsboard .row.secondPartRow {*/
/*        flex-direction: column;*/
/*    }*/

/*    .card__md, .card__lg {*/
/*        width: 60vw;*/
/*        aspect-ratio: unset;*/
/*    }*/


/*}*/

@media screen and (max-width: 760px) {
    /*.main > .container .container__dahsboard .row.card__sm__wrapper {*/
    /*    display: grid;*/
    /*    grid-template-columns: 1fr;*/
    /*    justify-items: center;*/
    /*}*/

    /*.main > .container .container__dahsboard .leftPart {*/
    /*    flex: 2;*/
    /*}*/

    .card__sm {
        width: 175px;
    }

    .card__md, .card__md__height {
        width: 378px;
    }
    .card__lg {
        display: none;
    }
}

@media screen and (max-width: 425px) {
    .card__md, .card__md__height {
        display: none;
    }
}