.ingredientContainer{
    width: 100%;
    height: 100vh;
    background: var(--color-light);
}

.ingredientContainer > .ingredientCardDeck{
    min-height: 300px;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    gap: 25px;
    background-color: var(--color-light);

}
.container >.ingredientContainer > .ingredientCardDeck > .table > .title{
    padding: 20px 15px;
    text-align: center;
    background-color: var(--color-light);
    color: var(--color-primary);
    text-decoration: underline;
    font-family: var(--font-primary);
}


.ingredientContainer > .ingredientCardDeck > .card{
    min-width: 250px;
    aspect-ratio: 1/1;
    background-color: white;
    padding: 15px 20px;
    border-radius: 15px;
    justify-content: flex-start;
}

.main > .container > .ingredientContainer > .ingredientCardDeck:last-child{
    padding-bottom: 15px;
}

.bi-pencil-square{
color: var(--color-blue);
}

.main > .container > .ingredientContainer > .ingredientCardDeck > .card > .formTitle{
    margin-top: 0;
    font-family: var(--font-primary);
    color: var(--color-primary);
    box-shadow: none;
    text-decoration: underline;
}

.main> .container > .ingredientContainer >.ingredientCardDeck >.card > form > .inputGroup > label > .inputItem
 {
    border: 1px solid var(--color-primary);
    background-color: white;
    color: var(--color-primary);
}

.main> .container > .ingredientContainer >.ingredientCardDeck >.card > form > .inputGroup > label >  span
{
    background-color: white;
}

.main> .container > .ingredientContainer >.ingredientCardDeck >.card > form > .typeChoice > #ingredientType {
    border: 1px solid var(--color-primary);
    background-color: transparent;
    color: var(--color-primary);
}

.main > .container .addButton{
    width: 100%;
    aspect-ratio: 5/1;
    border-radius: 15px;
    background-color: transparent;
    text-align: center;
    margin-top: 20px;
    font-size: 1.4rem;
    border: 1px solid var(--color-primary);
    transition: var(--transition);
    color: var(--color-primary);
}

.main > .container .addButton:hover{
    background-color: var(--color-primary);
    color: var(--color-light);
}


.main > .container .typeChoice {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    text-shadow: var(--shadow-1);
    background-color: white;
    
}

.main > .container .typeChoice label, .main > .container .typeChoice label span{
    background-color: transparent;
    font-weight: initial;
    color: var(--color-primary);
    text-shadow: none;
}

.main > .container > .ingredientContainer .card, .main > .container > .ingredientContainer .card .formTitle, .main > .container > .ingredientContainer .card form{
background-color: white;
}

.main > .container .card, .main > .container .card  {
    box-shadow: var(--box-shadow);
}

.main > .container .table{
    min-width: 40%;
    border-radius: 15px;
}



.main > .container .ingredientTableStyle{
    width: 100%;
    background-color: var(--color-primary);
    padding: 25px 20px;
    border-radius: 15px;
    overflow: hidden;
    border-collapse: collapse;
    box-shadow: var(--box-shadow);
    margin: 15px;
    
}

.main > .container .table table.ingredientTableStyle .title{
    text-align: center;
    width: 100%;
    padding: 25px 15px;
}

.main > .container .ingredientTableStyle .colonneTitleContainer .colonneTitleItem,
.main > .container .ingredientTableStyle .ingredientTypeItem .ingredientTypePart{
    background-color: white;
    text-align: center;
    padding: 5px 8px;
   
}

.main > .container .ingredientTableStyle .ingredientTypeItem{
    background: white;
    border-bottom: 1px solid var(--color-primary);
}

.main > .container .ingredientTableStyle .ingredientTypeItem .ingredientTypePart:first-child{
color: var(--color-primary);
}

.main > .container .ingredientTableStyle .ingredientTypeItem:last-child{
border: none;
}

.main > .container .ingredientTableStyle .ingredientTypeItem .ingredientTypePart{
    font-weight: bold;
    border-right: 1px solid var(--font-primary);
}

.main > .container .ingredientTableStyle .colonneTitleContainer .colonneTitleItem{
    border-bottom: 1px solid var(--color-primary);
    color: var(--color-primary);
font-family: var(--font-primary);
}

.main > .container .ingredientTableStyle .ingredientTypeItem .buttonGroup{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.main > .container .ingredientTableStyle .ingredientTypeItem .ingredientTypePart .actionButton{
    padding: 4px 6px;
    border-radius: 5px;
    border: none;
    letter-spacing: 1px;
    font-size: 1rem;
    cursor: pointer;
    transition: all 1s ease-in-out;
    background-color: transparent;
}

.main > .container .ingredientTableStyle .ingredientTypeItem .ingredientTypePart .deleteButton{
    background: linear-gradient(90deg, transparent, var(--color-red)) left;
    background-size: 10000px;
    color: var(--color-black);
}

.main > .container .ingredientTableStyle .ingredientTypeItem .ingredientTypePart .deleteButton:hover{
    background-position: 400px;
    transform: scale(1.1);
    color: var(--color-light);
}

.main > .container .ingredientTableStyle .ingredientTypeItem .ingredientTypePart .updateButton:hover{
    transform: scale(1.1);
    color: var(--color-light);
}

/**---------------Style for on/off diode-----------------------**/

.main > .container .ingredientTableStyle .ingredientTypeItem .ingredientTypePart:nth-child(3){
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.main > .container .ingredientTableStyle .ingredientTypeItem .ingredientTypePart .itemDisponible,
.main > .container .ingredientTableStyle .ingredientTypeItem .ingredientTypePart .itemIndisponible{
    width: 20%;
    aspect-ratio: 1/1;
    border-radius: 50%;
    border: 1px solid silver;
    box-shadow: inset 2px 1px 3px rgb(0 0 0 / 20%)
}

.main > .container .ingredientTableStyle .ingredientTypeItem .ingredientTypePart .itemDisponible{
    background: radial-gradient(var(--color-light) 3%,
        var(--color-green)) bottom right 200px;
}

.main > .container .ingredientTableStyle .ingredientTypeItem .ingredientTypePart .itemIndisponible{
    background: radial-gradient(var(--color-light) 3%,
        var(--color-red)) bottom right 200px;
}

/**---------------END Style for on/off diode-----------------------**/