@import url("https://fonts.googleapis.com/css2?family=Aboreto&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Alex+Brush&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Redressed&display=swap");

:root {
  --color-black: #262322;
  --color-black-rgb: 38, 35, 34;
  --color-blue: #5050cb;
  --color-blue-rgb: 80, 80, 203;
  --color-dark: #63372c;
  --color-dark-rgb: 99, 55, 44;
  --color-green: #0cbd0c;
  --color-green-rgb: 12, 189, 12;
  --color-highlights: #ffbb72;
  --color-highlights-rgb: 255, 187, 114;
  --color-light: whitesmoke;
  --color-primary: #ff931f;
  --color-primary-rgb: 255, 147, 31;
  --color-red: #f2545b;
  --color-red-rgb: 242, 84, 91;
  --color-red-shade: #e5625e;
  --color-red-shade-rgb: 229, 98, 94;

  --font-primary: "Aboreto", cursive;
  --font-secondary: "Redressed", cursive;

  --box-shadow:5px 0 25px rgba(var(--color-dark-rgb), 0.2);
  --shadow-1: 1px 1px 2px black;

  --transition: all 500ms ease-in-out;
}

/*  Global Style (appliqué partout)   */
* {
  padding: 0;
  margin: 0;
  background-color: var(--color-primary);
  box-sizing: border-box;
  user-select: none;
  font-family: var(--font-secondary);
  font-weight: 600;
  font-size: 1.2rem;
  list-style: none;
}

html {
  background-color: var(--color-light);
}

body {
  margin-inline: auto;
}

/**------ Main Style ------**/

.main {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/**---- NavBar Style ----**/
.main > .navBar {
  position: relative;
  width: 200px;
  height: 100%;
  padding: 0;
  overflow: hidden;
  transition: var(--transition);
}

.main > .navBar .brand {
  text-align: center;
  height: 30px;
  color: var(--color-light);
  padding: 10px;
  transition: var(--transition);
}

.main > .navBar.active,
.main > .navBar > .navLinks.active {
  width: 80px;
}

.main > .navBar > .navLinks.active .brand {
  opacity: 0;
  height: 30px;
}

.main > .navBar > .navLinks.active .navLink li span {
  display: none;
}

.main > .navBar > .navLinks .navLink li i {
  font-size: 1.4rem;
}

.main > .navBar > .navLinks .navLink.active li * {
  background: transparent;
}

.main > .navBar > .navLinks.active .navLink.active li * {
  background: transparent;
}

/** ----- TOGGLE BUTTON ----- **/

.main > .navBar > .navLinks .toggleButton {
  width: 40px;
  height: 20px;
  position: absolute;
  cursor: pointer;
  top: 10px;
  right: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  align-items: center;
  z-index: 20;
}

.main > .navBar > .navLinks .toggleButton .top {
  width: 100%;
  height: 5px;
  transition: var(--transition);
  position: absolute;
  transform-origin: center;
  top: 50%;
  left: 50%;
  background: var(--color-light);
  transform: translate(-50%, -50%) rotate(585deg);
}

.main > .navBar > .navLinks .toggleButton .bottom {
  width: 100%;
  height: 5px;
  transition: var(--transition);
  position: absolute;
  top: 50%;
  left: 50%;
  background: var(--color-light);
  transform: translate(-50%, -50%) rotate(-585deg);
}

.main > .navBar > .navLinks .toggleButton.active .top,
.main > .navBar > .navLinks .toggleButton.active .bottom {
  position: unset;
  transform: unset;
}

/** ------ END ToggleButton ------- **/

/**   Style element de la navBar lorsque activé    **/
.main > .navBar > .navLinks .navLink li i img {
  max-height: 30px;
}

.main > .navBar > .navLinks {
  position: fixed;
  transition: var(--transition);
  top: 0;
  left: 0;
  height: 100%;
  width: 200px;
  gap: 30px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;
  padding: 1rem 0;
  overflow: hidden;
  z-index: 10;
}

.main > .navBar > .navLinks .navLink {
  width: 100%;
  padding: 1rem 0;
  padding-right: 0.5rem;
  text-align: right;
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  align-items: center;
  color: var(--color-light);
  transition: var(--transition);
  text-decoration: none;
}

.main > .navBar > .navLinks .navLink li {
  width: 80%;
  display: flex;
  justify-content: space-between;
  gap: 10px;
  align-items: center;
}

.main > .navBar > .navLinks .navLink.deconnect {
  color: var(--color-red);
  font-weight: 800;
  margin-top: auto;
}

.main > .navBar > .navLinks .navLink > li {
  background: transparent;
}

.main > .navBar > .navLinks .navLink:hover {
  transform: translate(-10px, -8px);
  border-top-right-radius: 45px 14px;
  text-shadow: 10px 8px 4px rgba(59, 59, 59, 0.8);
}

.main > .navBar > .navLinks .navLink.active {
  background: var(--color-light);
  color: var(--color-highlights);
  position: relative;
}

.main > .navBar > .navLinks .navLink.active:hover {
  transform: unset;
  text-shadow: none;
  
  border-top-right-radius: 0;
}

.main > .navBar > .navLinks .navLink.active:after {
  position: absolute;
  content: "";
  width: 50px;
  aspect-ratio: 1/1;
  background-color: transparent;
  top: -50px;
  right: 0;
  border-bottom-right-radius: 50%;
  box-shadow: 8px 7px 1px var(--color-light);
  z-index: 0;
}

.main > .navBar > .navLinks .navLink.active:before {
  position: absolute;
  content: "";
  width: 50px;
  aspect-ratio: 1/1;
  background-color: transparent;
  bottom: -50px;
  right: 0;
  border-top-right-radius: 50%;
  box-shadow: 8px -7px 1px var(--color-light);
  z-index: 0;
}

/**  END Style element de la navBar lorsque activé    **/

.main > .container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 25px 10px;
  width: 100%;
  height: 100vh;
  background: var(--color-light);
}

.main > .container * {
  background: var(--color-light);
}

/**-----END NavBar Style------**/

/* hamburger pour responsive */ 
.hamburger-nav {
  display: none;
  cursor: pointer;
  position: absolute;
  top: 10px;
  left: 5px;
}

.hamburger-nav i {
  font-size: 1.8rem;
}

/**-----END Main Style-----**/

@media screen and (max-width : 768px) {
  /* .main .navBar {
    display: block;
    position: absolute;
    left: -100%;
  } */

  /* .main > .navBar > .navLinks .navLink {
    display: none;
  }

  .main > .navBar > .navLinks {
    height: 7%;
  } */

  .main > .navBar, .main > .navBar > .navLinks {
    /* width: 100%; */
    align-items: center;
  } 
  
  .main > .navBar.active,
  .main > .navBar > .navLinks.active {
    width: 10%;
  }
  .main > .navBar,
  .main > .navBar .active > .navLinks.active {
    width: 8%;
  } 



  .main > .navBar > .navLinks .navLink {
    /* display: none!important; */
    padding: 1rem;
  }

  .main > .navBar, .main > .navBar > .navLinks > .navLink{
    /* display: block!important; */
  }






}
