/**  Toast style  **/
.main > .container .toastContainer {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 4;
    width: 300px;
    margin: 10px;
    padding: 0;
    list-style: none;
    text-align: left;
    background: transparent;
}

.main > .container .error, .main > .container .success{
    align-items: flex-start;
    background: var(--color-light);
    font-family: var(--font-primary) !important;
    border: none;
    border-radius: 2px;
    box-shadow: 0 0 10px 1px rgba(var(--color-black-rgb), 0.8);
    position: relative;
    top: 25px;
    right: 15px;
    min-width: 100px;
    opacity: 1;
    overflow: hidden;
    transition: var(--transition);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    z-index: 5;
    margin-bottom: 5px;
}


.main > .container .error .progressBar,
.main > .container .success .progressBar{
    width: 0;
    animation: progress 5s forwards linear;
    height: 5px;
}

@keyframes progress{
    to {
        width: 100%;
    }
}

.main > .container .error .progressBar{
    background: var(--color-red);
}

.main > .container .success .progressBar{
    background: var(--color-green);
}

.main > .container .error .message, .main > .container .success .message{
    padding: 15px 10px;
    text-align: center;
}

.main > .container .error .message{
    color: var(--color-red);
}

.main > .container .success .message{
    color: var(--color-green);
}

.main > .container .hidden{
    opacity: 0;
}


/** END Toast style  **/