.input-control {
    display: flex;
    align-items: center;
    width: 90%;
    background: white;
    border: 1px solid var(--color-primary);
    border-radius: 8px;
    padding: 15px;
    margin-top: 25px;
}

.input-control input {
    width: 100%;
    font-size: 1rem;
    padding-left: 10px;
    outline: none;
    border: none;
    background: transparent;
}

.input-control i {
    cursor: pointer;

}

.input-control input::placeholder {
    background-color: transparent;
    font-size: 16px;
}

.tableUser {
    margin-top: 4.5rem;
}

.tableTitle {
    text-align: center;
    padding: 1rem 0;
}


.nbUser {
    margin-top: 2rem;
    align-self: self-start;
    margin-left: 4rem;
}

.tableStyle  {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    text-align: center;
    margin-top: 1rem;
}

.userTable {
    width: 90%;
    border-radius: 15px;
    border-collapse: collapse;
    box-shadow: var(--box-shadow);
    margin: 15px;
}

.tdResult {
    width: 20%;
    text-align: center;
    padding: 15px 20px;
}

.tdResult:first-child{
    color: var(--color-primary);
}


@media screen and (max-width: 768px ) {
    .tableUser .tableTitle:nth-child(2) , .tableTitle:nth-child(3),
    .show .tdResult:nth-child(2), .tdResult:nth-child(3){
        display: none;
    }
    .tableTitle,
    .tdResult {
        font-size: 1rem;
    }
    .nbUser {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 1.3rem;
        align-self: unset;
        margin-left: unset;
    }
}

@media screen and (max-width: 500px) {
    .tdResult {
        padding: 15px 0;
    }
    .userTable {
        width: unset;
    }
    .tableTitle,
    .tdResult {
        font-size: 0.75rem;
    }
    .tdResult .actionButton {
        padding: unset;
    }
}