<a href="{{ path('admin.produit.manage') }}"
   class="navLink {{ is_active('admin.produit.manage') ? 'active' }}"
>
    <li>
        <i>
            <img src="https://img.icons8.com/cotton/64/000000/junk-food--v2.png" />
        </i>
        <span>Produits</span>
    </li>
</a>