
<li id="adresseButton">
    <a href=" {{ path('user.adresse') }}">
        <div>
            <img src="../assets/img/ressources/icon/Adresse/Adresse.png" alt="" id="adresseImg">
        </div>
        <span>Mes adresses</span>
    </a>
</li>
