
<li >
    <a href=" {{ path('user.adresse') }}">
        <div>
            <img src="../assets/img/ressources/icon/Adresse/Adresse.png" alt="" id="adresseImg">
        </div>
        <span>Mes adresse</span>
    </a>
</li>
