{% extends 'layout.html.twig' %}

{% block stylesheet %}
    <link rel="stylesheet" href="../assets/css/aide.css">
    <link rel="stylesheet" href="../assets/css/navBarUser.css">
{% endblock %}

{% block body %}
    <nav class="navAdresse">
        <ul>
            <div class="toggleButton active" onclick="toggleNav(event)">
                <div class="top"></div>
                <div class="bottom"></div>
            </div>
            <li>
                <a href="">
                    <img src="../assets/img/ressources/icon/commande/commandeIcon.svg" alt="" id="commandeImg">
                    <span>Mes commande</span>
                </a>
            </li>

            <li>
                <a href=" {{ path('user.adresse') }}">
                    <div>
                        <img src="../assets/img/ressources/icon/Adresse/Adresse.png" alt="" id="adresseImg">
                    </div>
                    <span>Mes adresse</span>
                </a>
            </li>


            <li id="paramNav">
                <a href="{{ path('user.paramProfil') }}">
                    <img src="../assets/img/ressources/icon/Param/Param.svg" alt="" id="profilImg">
                    <span>Mon profil</span>
                </a>
            </li>
            <li>
                <a href="">
                    <img src="../assets/img/ressources/icon/Aide/Aide.svg" alt="" id="aideImg">
                    <span>Aide et question</span>
                </a>
            </li>
        </ul>
    </nav>
    <div class="aideContainer">
        <main>
            <div class="title">
                <h1>Aide et question</h1>
            </div>
            <div class="sous-titre">
                <h2>Question frequente</h2>
            </div>
            <div class="categorie-card">
                <h3>Categorie</h3>
                <div>
                    <div class="triangle" onclick="toggleNav(event)"><img
                                src="../assets/img/ressources/icon/fleche/fleche.png" alt=""></div>
                </div>
                <div class="barre"></div>
                <div class="question">
                    <a href="">Lorem ipsum dolor sit amet.</a>
                    <a href="">question 2</a>
                    <a href="">question 2</a>
                    <a href="">question 2</a>
                    <a href="">question 2</a>

                </div>
            </div>
            <div class="contact">
                <h2>Vous n'avez pas trouver de réponse</h2>
                <a href="">Contactez nous</a>
            </div>


        </main>

    </div>

{% endblock %}