{% extends 'layout.html.twig' %}

{% block stylesheet %}
    <link rel="stylesheet" href="../assets/css/paramProfil.css">
    <link rel="stylesheet" href="../assets/css/navBarUser.css">
{% endblock %}

{% block body %}
    <nav class="navAdresse">
        <ul>
            <div class="toggleButton active" onclick="toggleNav(event)">
                <div class="top"></div>
                <div class="bottom"></div>
            </div>
            <li>
                <a href="">
                    <img src="../assets/img/ressources/icon/commande/commandeIcon.svg" alt="" id="commandeImg">
                    <span>Mes commande</span>
                </a>
            </li>

            <li >
                <a href=" {{ path('user.adresse') }}">
                    <div>
                        <img src="../assets/img/ressources/icon/Adresse/Adresse.png" alt="" id="adresseImg">
                    </div>
                    <span>Mes adresse</span>
                </a>
            </li>


            <li id="paramNav">
                <a href="{{ path('user.paramProfil') }}">
                    <img src="../assets/img/ressources/icon/Param/Param.svg" alt="" id="profilImg">
                    <span>Mon profil</span>
                </a>
            </li>
            <li>
                <a href="">
                    <img src="../assets/img/ressources/icon/Aide/Aide.svg" alt="" id="aideImg">
                    <span>Aide et question</span>
                </a>
            </li>
        </ul>
    </nav>
    <div class="paramProfilContainer">
        <main>
            <div id="title">
                <h1>Gérer les paramétre de mon profil</h1>
            </div>
            <form id="form" action="">
                <div class="formPartie1">
                    <div class="inputBasique">
                        <label for="nom">Nom</label>
                        <div class="positionChamp">
                            <input type="text" id="nom" disabled>
                            <button class="buttonChamp"><img src="../assets/img/ressources/icon/edit/edit.svg" alt="">
                            </button>
                        </div>
                    </div>
                    <div class="inputBasique">
                        <label for="prenom">Prénom</label>
                        <div class="positionChamp">
                            <input type="text" id="prenom" disabled>
                            <button class="buttonChamp"><img src="../assets/img/ressources/icon/edit/edit.svg" alt="">
                            </button>
                        </div>
                    </div>
                    <div class="inputBasique">
                        <label for="email">Email</label>
                        <div class="positionChamp">
                            <input type="email" id="email" disabled>
                            <button class="buttonChamp"><img src="../assets/img/ressources/icon/edit/edit.svg" alt="">
                            </button>
                        </div>
                    </div>
                    <div class="inputBasique">
                        <label for="telephone">Numéro de téléphone</label>
                        <div class="positionChamp">
                            <input type="tel" id="telephone" disabled>
                            <button class="buttonChamp"><img src="../assets/img/ressources/icon/edit/edit.svg" alt="">
                            </button>
                        </div>

                    </div>
                </div>
                <div class="positionChamp mdp">
                    <label for="password" id="passwordLabel">Modifier <br>mon<br> mot de passe</label>
                    <div class="positionChamp">
                        <input type="password" id="password" disabled>
                        <button class="buttonChamp"><img src="../assets/img/ressources/icon/edit/edit.svg" alt=""></button>
                    </div>
                    <input type="button" id="valider" value="Valider"></input>
                </div>

            </form>
        </main>

    </div>

{% endblock %}