{% extends '@admin/layout.html.twig' %}

{% block stylesheet %}
    <link rel="shortcut icon" href="../assets/icon/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="../assets/css/admin/style.css">
    <link rel="stylesheet" href="../assets/css/admin/ingredient.css">
    <link rel="stylesheet" href="../assets/css/admin/produit.css">
    <link rel="stylesheet" href="../assets/css/admin/formulaire.css">
    <link rel="stylesheet" href="../assets/css/admin/modalIngredient.css">
    <link rel="stylesheet" href="../assets/css/admin/adminConnexion.css">
    <link rel="stylesheet" href="../assets/css/admin/dashboard.css">
    <link rel="stylesheet" href="../assets/css/admin/connexiontoast.css">
{% endblock %}

{% block content %}
    {% if hasToast() %}
        {% for toast in renderToast() %}
            {{ toast }}
        {% endfor %}
    {% endif %}
    <div class="connexionContainer">
        <div class="formContainer">
            <h1 class="formTitle">
                <div class="top">Administration</div>
                <div class="bottom"><span class="left">Burger</span> <span class="right">Compagny</span></div>
            </h1>
            <form action="{{ path('admin.auth') }}" method="POST" class="loginForm">
                <div class="inputGroup">
                    <label for="mail" class="inputLabel">
                        <input type="text" name="username" id="mail" placeholder="Nom d'utilisateur" class="signInput">
                        <span>Nom d'utilisateur</span>
                    </label>
                </div>

                <div class="inputGroup">
                    <label for="mdp" class="inputLabel">
                        <input type="password" name="password" placeholder="Mot de passe" id="mdp" class="signInput">
                        <span>Mot de passe</span>
                    </label>
                </div>



                <button type="submit" class="loginButton">
                    Connexion
                </button>
            </form>
        </div>
    </div>

{% endblock %}

{% block script %}
    <script type="text/javascript" src="../../assets/js/admin/toastController.js"></script>
{% endblock %}