body {
    background-image: url("../img/ressources/background/connexion/connexion@3.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    backdrop-filter: blur(20px);
    min-height: 100vh;
}
.container{
    display: flex;
}
.adresseContainer{
    display: flex;
    width: 90%;

}
.navAdresse{
    width:98px;
    top: 60px;
    position: sticky;
    height: 92.8vh;
    transition: var(--transition);
}

.navAdresse.expanded{
    width:20%;
    top: 60px;
    transition: var(--transition);
    position: sticky;
    height: 92.8vh;
}
.navAdresse > ul{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 100%;

}
.navAdresse > ul > li{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    border-right: white solid 2px;
    width: 100%;
    height: 100%;

}
.navAdresse > ul > li>a{
    display: flex;
    justify-content: space-between;
    width: 80%;
    align-items: center;
    overflow: hidden;
    gap: 10px;
}


.navAdresse > ul > li>a>span{
    font-family: var(--font-secondary);
    font-weight: bolder;
    font-size: 1.5rem;
    text-decoration: underline;
    color: white;
    white-space: nowrap;
    padding: 10px;

}


.toggleButton{
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    cursor: pointer;
    top: 0;
    right: 10px;
    height: 5%;
}
.toggleButton > div{
    width: 30px;
    height: 5px;
    background-color: white;
    border-radius: 10px;
}
#adresseNav{
    border-top: white solid 2px;
    border-bottom: white solid 2px;
    border-right: none;

}
#commandeImg{
    width: 58px;
    height: 62px;


}
#adresseImg{
    width: 79px;
    height: 58px;

}
#profilImg{
    width: 80px;
    height: 67px;

}

#aideImg{
    width: 48px;
    height: 73px;
    margin-left: 10px;
}
main{
    width:100%;
}
main >#formAjout{
    display: flex;
    flex-wrap: wrap;
}
.title{
    width: 100%;
}
.title>h1{
    font-family: var(--font-primary);
    font-size: 3.5rem;
    font-weight: 700;
    color: var(--color-primary);
    margin-top: 2rem;
    text-align: center;
    filter: drop-shadow(var(--shadow-1));
}
#listeAdresse>.title>h1{
    text-align: left;
    margin-left: 13%;
}
form{
    display: flex;
    width: 100%;
    justify-content: center;
    gap: 50px;
}
form>div>div{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}
form>div>div>label{
    font-family: Redressed;
    font-weight: normal;
    font-size: 2rem;
    text-align: center;
    color: white;

}
form>div>div>input{
    width: 307px;
    height: 52px;
    border-radius: 20px;
    border: none;
    background: rgba(255, 255, 255, 0.34);

}
form>div>div>input:focus{
    outline: none;
    color: white;
}
#placeButton{
    display: flex;
    justify-content: center;
    align-items: center;
}
form>#placeButton>button{
    width: 223px;
    height: 50px;
    border-radius: 33px;
    background: transparent;
    border: 1px solid var(--color-primary);
    color: white;
    font-size: 2rem;
    font-family: Redressed;
}
form>#placeButton>button:hover{
 background-color: var(--color-primary);
    transition: var(--transition);
}

#listeAdresse{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}
#tableauAdresse{
    width:80%;
    border-radius: 20px;
    background: rgba(255, 255, 255, 0.34);

}
#tableauAdresse>table{
    width: 100%;
    border-collapse: collapse;

}
#tableauAdresse>table>thead>tr>th:first-child{
    width: 8%;
}
#tableauAdresse>table>thead>tr>th{
    font-family: var(--font-primary);
    font-weight: normal;
    font-size: 2rem;
    text-align: start;
    color: var(--color-primary);
    filter: drop-shadow(var(--shadow-1));
    padding: 15px;
    border-bottom: var(--color-primary) solid 1px;
}
#tableauAdresse>table>tbody>tr>td{
    font-family: var(--font-secondary);
    font-weight: normal;
    font-size: 1.5rem;
    color: white;
    padding: 10px;

}

#tableauAdresse>table>tbody>tr{
    border-bottom: var(--color-primary) solid 1px;
}

#tableauAdresse>table>tbody>tr:last-child{
    border-bottom: none;
}
td>button{
background-color: transparent;
    border: none;
    cursor: pointer;
}
td>button>img{
    width: 70%;
}