html{
    display: flex;
    justify-content: center;
    align-items: center;
}

body{
    background-image: url('../img/ressources/background/connexion/connexion@3.png');
    background-repeat: no-repeat;
    background-size: 105%;
    background-position: right top;
    background-attachment: fixed;
    backdrop-filter: blur(10px);
    width: 100%;
    height: 100%;
}

.container{
    background: linear-gradient(120deg, rgba(var(--color-light-rgb), 0.72) 20px, rgba(0, 0, 0, 0.2) 1000px);
    padding-inline: 90px;
}

.connexionContainer {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-inline: auto;
    background: transparent;
    gap: 25px;
  }
  
  .connexionContainer > .loginForm {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    width: 100%;
    flex: 3;
    justify-content: center;
    align-items: center;
    gap: 15px;
    height: 90vh;
    margin: 25px;
    padding: 10px 15px;
    border-radius: 15px;
    border: 1px solid transparent;
  }

  .connexionContainer > .loginForm > .loginTitle {
    font-family: var(--font-primary);
    font-size: 4rem;
    text-shadow: var(--shadow-50);
    font-weight: thin;

    color: var(--color-light);
    text-align: center;
  }
  
  .loginForm > .inputGroup{
    width: 100%;
  }
  
  .loginForm > .loginButton {
    background: transparent;
    width: 100%;
    border: 1px solid var(--color-primary);
    border-radius: 15px;
    font-weight: 200;
    font-size: 2.5rem;
    font-family: var(--font-secondary);
    color: var(--color-light);
    display: flex;
    align-items: center;
    transition: var(--transition);
    justify-content: center;
  }

  .loginForm > .loginButton:hover {
    background-color: var(--color-primary);
  }


  .loginForm > .choiceSeparator {
    align-items: center;
    display: flex;
    justify-content: center;
    width: 100%;
    gap: 10px;
  }

  .loginForm > .choiceSeparator > .first,
     .loginForm > .choiceSeparator > .second {
        width: 100%;
  }

  .loginForm > .choiceSeparator > .text {
    color: var(--color-light);
    font-family: var(--font-secondary);
    font-size: 2.5rem;
    font-weight: 200;
  }

  .loginForm > .socialConnexion__container {
    display: flex; 
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    gap: 25px;
  }
  
  .loginForm > .socialConnexion__container > .title {
    color: var(--color-light);
    font-family: var(--font-secondary);
    font-size: 2rem;
    font-weight: 200;
    text-align: center;
  }

  .loginForm > .socialConnexion__container > .social__container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
  }

  .loginForm > .socialConnexion__container > .social__container > button {
    width: min-content;
    height: min-content;
    background: none;
    border: none;
  }
  
  .loginForm > .socialConnexion__container > .social__container > button > img {
    transition: var(--transition);
  }

  .loginForm > .socialConnexion__container > .social__container > button:hover > img {
    transform: scale(1.1);
    filter: drop-shadow(2px 2px 6px rgba(0, 0, 0, 0.4));
  }

  /**   HERO SECTION   **/

  
.connexionContainer > .hero__wrapper {
    max-width: 400px;
    background: rgba(var(--color-light-rgb), 0.25);
    backdrop-filter: blur(10px);
    flex: 3;
    margin: 25px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-inline: 15px;   
}

.connexionContainer > .hero__wrapper > .hero__section {
    flex: 1;
    min-height: 40px;
    display: flex;
    align-items: center;
    gap: 8px;
}

.connexionContainer > .hero__wrapper > .hero__section.title {
    justify-content: flex-start;
    width: 100%;
}

.connexionContainer > .hero__wrapper > .hero__section.title > span:nth-child(1) {
    color: var(--color-primary);
    font-size: 2rem;
    font-family: var(--font-secondary);
    border-bottom: 1px solid whitesmoke;
    padding-right: 15px;
}

.connexionContainer > .hero__wrapper > .hero__section.title > span:nth-child(2) {
    padding-top: 8px;
    color: var(--color-light);
    font-size: 2rem;
    font-family: var(--font-primary);
    transform: translateX(-15px);
}

.connexionContainer > .hero__wrapper > .hero__section.one > span:nth-child(1) {
    color: var(--color-light);
    font-family: var(--font-secondary);
    font-size: 1.8rem;
}

.connexionContainer > .hero__wrapper > .hero__section.one > span:nth-child(2) {
    color: var(--color-primary);
    font-family: var(--font-primary);
    font-size: 2.8rem;
}

.connexionContainer > .hero__wrapper > .hero__section.one > span:nth-child(3) {
    color: var(--color-light);
    font-family: var(--font-secondary);
    font-size: 1.8rem;
}

.connexionContainer > .hero__wrapper > .hero__section.two > span:nth-child(1) {
    color: var(--color-light);
    font-family: var(--font-secondary);
    font-size: 1.8rem;
}

.connexionContainer > .hero__wrapper > .hero__section.two > span:nth-child(2) {
    color: var(--color-primary);
    font-family: var(--font-primary);
    font-size: 2.8rem;
}

.connexionContainer > .hero__wrapper > .hero__section.three > span:nth-child(1) {
    color: var(--color-primary);
    font-family: var(--font-primary);
    font-size: 2.8rem;
}

.connexionContainer > .hero__wrapper > .hero__section.footer {
    width: 100%;
    justify-content: flex-end;
}

/***** MEDIA QUERIES *******/


@media screen and (max-width: 1024px) {
  body{
    background-size: cover;
  }

  .container {
    padding-inline: 0;
  }
}

@media screen and (max-width: 930px) {
  .connexionContainer {
    flex-direction: column-reverse;
  }
  .connexionContainer > .hero__wrapper > .hero__section {
    flex-direction: column;
    gap: 0;
  }

  .connexionContainer > .hero__wrapper > .hero__section > span {
    height: 30px;
  }

  .connexionContainer > .hero__wrapper > .hero__section:nth-child(1) > span, .connexionContainer > .hero__wrapper > .hero__section:nth-child(2) > span {
    height: unset;
  }
  .connexionContainer > .hero__wrapper > .hero__section.title {
    flex-direction: row;
    gap: 8px;
  }
}