body {
    background-image: url('../img/ressources/background/panier/addition.png');
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: right top;
    background-attachment: fixed;
    width: 100%;
    height: 100vh;
}

.container {
    background: linear-gradient(120deg, rgba(var(--color-light-rgb), 0.72) 20px, rgba(0, 0, 0, 0.2) 1000px);
    backdrop-filter: blur(10px);
    height: -webkit-fill-available;
}

.panierContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.panierTitle {
    color: white;
    font-family: var(--font-primary);
    text-shadow: var(--shadow-1);
    font-size: 4rem;
    margin-top: 2rem;
}

.panier {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.panier .nameImage img {
    width: 100px;
    padding: 8px 0;
}

.panier td .qte button {
    background: transparent;
    border: none;
    color: var(--color-red);
    font-size: 1.15rem;
    cursor: pointer;
    transition: 0.125s ease-in-out;
}

.panier td .qte button:hover {
    opacity: 0.5;
}


.panier td .action .deleteButton,
.panier td .action .editButton {
    background: transparent;
    border: none;
    cursor: pointer;
}

.panier td .action .deleteButton  i {
    color: var(--color-red);
    font-size: 1.15rem;
    transition: 0.125s ease-in-out;
}

.panier td .action .editButton i {
    color: var(--color-primary);
    font-size: 1.15rem;
    transition: 0.125s ease-in-out;
    margin-right: 0.5rem;
}

.panier td .action .deleteButton:hover i,
.panier td .action .editButton:hover i {
    opacity: 0.5;
}

.panier section {
    width: 70%;
    background-color: #fff;
    padding: 10px;
    border-radius: 6px;
}

table {
    border-collapse: collapse;
    width: 100%;
    letter-spacing: 2px;
    font-size: 13px;
}

th {
    padding: 10px;
    font-weight: 400;
}

td {
    border-top: 0.5px solid var(--color-primary);
    text-align: center;
    color: var(--color-black);
}

tr {
    border-bottom: 0.5px solid var(--color-primary);
}

.total {
    padding: 1rem 0;
    border-bottom: none;
}

.total th {
    border: 0;
    float: left;
    font-weight: 500;
    color: var(--color-black);
    padding: 1rem;
    margin-top: 1rem;
}

.total .commander {
    background: var(--color-primary);
    border-radius: 2px;
}

.total .commander a {
    text-decoration: none;
    color: var(--color-black);
}

.total .commander:hover {
    opacity: 0.8;
}

/* Responsive */

@media screen and (max-width: 600px) {
    .panier section {
        width: 100%;
    }

    .panier .nameImage img {
        width: 70%;
    }
}