{% extends '@admin/connected.html.twig' %}

{% block body %}
    <div class="col-4">
        <div class="card__md__height">
            <form action="{{ path('admin.Taxe.add') }}" method="POST" class="offreForm">
                        <span class="part formTitle">
                            Ajouter une TVA
                        </span>

                <span class="part">
                    <div class="inputGroup">
                        <label for="pourcentage_offre" class="inputLabel">
                            <input
                                    type="text"
                                    name="taux" placeholder="pourcentage de l'offre"
                                    id="pourcentage_offre"
                                    required />
                            <span>Taux TVA</span>
                        </label>
                    </div>
                </span>
                <span class="part">
                    <input type="submit" class="subButton" value="Ajouter">
                </span>
            </form>
        </div>
    </div>


    <div class="card__md taxe__card" style="flex-direction: column; justify-content: flex-start; overflow-y: auto;">
        <theader class='tableTitle'>
            taxes
        </theader>
        <table class="taxeListTable" id="taxeTable">
            <tbody>
            <tr class="head tableRow">
                <th class="part">%</th>
                <th class="part">Action</th>
            </tr>
            {% for taxe in taxes %}
                <tr class="taxeItem tableRow">

                    <td class="taxePart">
                        {{ taxe.taux  }}
                    </td>
                    <td class="taxePart">
                        <a href="" class="btn btn-danger deleteButton">Ajouter des Taxes</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>



{% endblock %}

{% block script %}
    <script type="text/javascript" src="../../assets/js/admin/toastController.js"></script>
    <script type="text/javascript" src="../../assets/js/admin/animation.js"></script>
    <script type="text/javascript" src="../../assets/js/admin/controlModal.js"></script>
{% endblock %}