<a
   href="{{ path('admin.ingredient.show') }}"
   class="navLink {{ is_active("admin.ingredient.show") ? 'active' }}"
>
    <li>
        <i>
            <img src="https://img.icons8.com/color/48/000000/lettuce.png" />
        </i>
        <span>
            Ingrédients
        </span>
    </li>
</a>