{% extends '@admin/layout.html.twig' %}

{% block stylesheet %}
    <link rel="shortcut icon" href="../../assets/icon/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="../../assets/css/admin/style.css">
    <link rel="stylesheet" href="../../assets/css/admin/formulaire.css">
    <link rel="stylesheet" href="../../assets/css/admin/toast.css">
    <link rel="stylesheet" href="../../assets/css/admin/modalIngredient.css">
    <link rel="stylesheet" href="../../assets/css/admin/adminConnexion.css">
    <link rel="stylesheet" href="../../assets/css/admin/dashboard.css">
    <link rel="stylesheet" href="../../assets/css/admin/produit.css">
    <link rel="stylesheet" href="../../assets/css/admin/ingredient.css">
    <link rel="stylesheet" href="../../assets/css/admin/taxe.css">
    <link rel="stylesheet" href="../../assets/css/admin/stats.css">
    <link rel="stylesheet" href="../../assets/css/admin/user.css">
{% endblock %}

{% block content %}
    <div class="main">
        <nav class="navBar active">
            <ul class="navLinks active">
                <div class="toggleButton active" onclick="toggleNav()">
                    <div class="top"></div>
                    <div class="bottom"></div>
                </div>
                <div class="brand">
                    <h1>Burger Compagny</h1>
                </div>
                {{ admin_menu() }}
                
                <a href="{{ path('admin.logout') }}" class="navLink deconnect">
                    <li>
                        <i class="bi bi-box-arrow-left"></i>
                        <span>Déconnexion</span>
                    </li>
                </a>
            </ul>
        </nav>
        <div class="container">
            <div class="toastContainer">
                {% if hasToast() %}
                {% for toast in renderToast() %}
                    {{ toast | raw }}
                {% endfor %}
                {% endif %}
                </div>
            {% block body %}
            {% endblock %}
        </div>
    </div>
{% endblock %}
